:root{
    --bg-1:#041022;
    --bg-2:#0b1b36;
    --accent:#ffd84d;
    --neon:#46f0ff;
    --panel:#07122a;
    --muted:#98c2ff;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg-1);
    color: var(--muted);
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px; /* matches logo size */
    width: 100%;
    background-color: var(--bg-2);
}

.logoname h1{
    font-family: 'Press Start 2P', cursive;
    color: var(--accent);
    margin: 0;
    color: var(--accent);
    background: var(--bg-2);
    font-size: 45px;
    text-shadow: 0 0 5px var(--bg-2), 0 0 10px var(--bg-2), 0 0 15px var(--bg-2), 0 0 20px var(--accent), 0 0 30px var(--accent), 0 0 40px var(--accent), 0 0 55px var(--accent), 0 0 75px var(--accent);
    height: 50px;
}
.logo img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.headbutton{
    font-family: 'Press Start 2P', cursive;
    color: var(--accent);
    text-decoration: none;
    user-select: none;
    padding: 10px 20px;
}

/* begin van de middle content */
.middlecontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 0px;
    width: 100%;
    height: 43vw;
}


.middlecontent > div{
    position: relative;
    background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(0,0,0,0.05));
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.04);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;


}

.middlecontent:has(.cooper.sizeup) {
    transition: 1s;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    opacity: 1;
}

.middlecontent:has(.valley.sizeup) {
    transition: 1s;
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
    opacity: 1;
}

.middlecontent:has(.tetris.sizeup) {
    transition: 1s;
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr;
    opacity: 1;
}

.middlecontent:has(.fifa.sizeup) {
    transition: 1s;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr;
    opacity: 1;
}


.middlecontent img{
    object-fit: cover; 
    width: 100%;
    height: 100%; 
    overflow: hidden; 
    border-radius: 4px; 
}

.gamebutton{

    color: var(--accent);
    text-align: center;
    position: absolute ;
    height: 13%;
    bottom: 2%;
    font-size: 25px;
    width: 13%;
    left: 40%;
    background: var(--panel);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
}



.lowercontent{
    display: flex;
    width: 100%;
    overflow-x:auto;
    background-color: var(--panel);
}

.lowercontent::-webkit-scrollbar {
    display: none;
}

.textbox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20em;
    margin-top: 20px;
    animation: scroll 10s linear infinite;
    background: var(--bg-2);
    padding-right: 20em;
    
}

.card{
    flex: 0 0 20;
    width: max-content;
    
}

.textbox h1{
    font-family: 'Press Start 2P', cursive;
    color: var(--accent);
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

@keyframes scroll{
    from{
        translate: 0;
    }
    to{
        translate: -100%;
    }
}


