body{
    background-image: url(images/wallpapersden.com_stardew-valley-hd-gaming-background_1920x1080.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: none;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.gameplay-screen {
    background-color: #e7c697;
    border: 12px solid;
    border-image: url('images/woodframe1.png') 30 stretch;
    padding: 10px;
    height: 60vh;
    width: 40vw;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameplay-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Stardew-Valley{
    background-color: #e7c697;
    border: 12px solid;
    border-image: url('images/woodframe1.png') 30 stretch;
    padding: 15px;
    height: 30vh;
    width: 30vw;
    margin: 10px;
    box-sizing: border-box;
    float: right;
}
#button6 {
   position: absolute;
    top: 770px;
    left: 60px;
    padding: 30px 30px;
    font-size: 20px;
    background-color: #f2ab27;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}